<style>
    .disableA {
        pointer-events: none;
        color: #9da6ab;
    }
</style>
<br>

<div class="card card-outline-info">
    <div class="card-header">
        <h4 class="m-b-0 text-white">---------</h4>
    </div>
    <div class="card-body">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab"
                    aria-selected="true"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span
                        class="hidden-xs-down">สินค้า RM/Loss</span></a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab"
                    aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span
                        class="hidden-xs-down">คีย์ข้อมูลรายละเอียดสินค้า RM/Loss</span></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content tabcontent-border">
            <div class="tab-pane active" id="home" role="tabpanel">
                <div class="p-10">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <form method="get" id="frmSearch" action="/Bom/Index">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-9">
                                                <input type="text" id="" name=""
                                                    class="form-control">
                                            </div>
                                            <div class="col-3">
                                                <button type="submit" class="btn btn-info "
                                                    onclick=""><i class="fa fa-search"></i>
                                                    ค้นหา</button>
                                                <button class="btn btn-danger" type="button" data-toggle="modal"
                                                    data-target="#popupSaveProductBom">เพิ่ม RM/Loss</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div class="card-body pt-1">
                                    <div class="table-responsive">
                                        <table class="table color-bordered-table info-bordered-table" id="TblProduct">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>ShopOrder</th>
                                                    <th>รหัส/ชื่อ สินค้า</th>
                                                    <th>จำนวนที่นำมาผลิต</th>
                                                    <th>ประเภท</th>
                                                    <th>บริษัท</th>
                                                </tr>
                                            </thead>
                                            <tbody id="insertdata">
                                                @* @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td>@item.A</td>
                                                        <td>@item.ID</td>
                                                        <td>@item.NameProduct</td>
                                                        <td>@item.Amount</td>
                                                        <td>@item.Type</td>
                                                        <td>@item.Company</td>
                                                    </tr>
                                                } *@
                                                <tr>
                                                        <td>#</td>
                                                        <td>123456</td>
                                                        <td>สินค้า A0000</td>
                                                        <td>50</td>
                                                        <td>ภายนอก</td>
                                                        <td>GFPT</td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane p-20" id="profile" role="tabpanel">
                <div class="col-12">
                    <form method="get" id="frmSearch" action="/Bom/Index">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-1">
                                    <div class="text-right">
                                        สินค้า :
                                    </div>
                                </div>
                                <div class="col-8">
                                    <select id="documentTypeID" name="documentTypeID" class="form-control"
                                        data-style="form-control btn-secondary">
                                        <option value="">2701221025-KARAAGE (NAKATSU FUU SHOYU) W/P RD</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="btn btn-info " onclick=""><i class="fa fa-search"></i>
                                        ค้นหา</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="card-body pt-1">
                        <div class="table-responsive">
                            <table class="table color-bordered-table info-bordered-table" id="">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>ชื่อสินค้า</th>
                                        <th>ชื่อประเภท</th>
                                        <th>จำนวน</th>
                                        <th>หมายเหตุ</th>
                                        <th>แก้ไข</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.A</td>
                                            <td>@item.NameProduct</td>
                                            <td>@item.TypeProduct</td>
                                            <td>@item.Amount</td>
                                            <td>@item.Note</td>
                                            <td>
                                                <button type="button" onclick="Edit('@item.NameProduct','@item.TypeProduct')"
                                                class="btn btn-info">แก้ไข</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="CorrectTypeBom" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" style="display: none;" data-backdrop="static" data-keyboard="false"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h4 class="modal-title text-white">แก้ไขประเภท BOM</h4>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">x</button>
                </div>
                <!-- BODY -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <form method="get" id="frmSearch" action="/Bom/Index">
                                <div class="col-12">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-1">
                                                <div class="text-right">
                                                    ชื่อสินค้า :
                                                </div>
                                            </div>

                                            <div class="col-7">
                                                <label class="control-label text-left col-4"
                                                    id="Usingnameproduct"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="card-body">
                                            <div class="row">
                                                <div>
                                                    <div class="text-right">
                                                        ประเภท :
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <label class="control-label text-left col-5"
                                                        id="UsingType"></label>
                                                </div>
                                                <div class="">
                                                    <div class="text-right">
                                                        จำนวน : 
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div>
                                                        <input type="number" min="0" id="" name=""
                                                            class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-2">
                                                    <div class="text-right">
                                                        หมายเหตุ :
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <div>
                                                        <input type="text" id="documentID" name="documentID"
                                                            class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <center>
                                    <div>
                                        <button type="button" id="btnSearch" name="btnSearch" class="btn btn-info"
                                            value="search" onclick="SaveCorrectTypeBom()">บันทึก</button>
                                        <button class="btn btn-danger" type="button"
                                            data-dismiss="modal">ยกเลิก</button>
                                    </div>
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="popupSaveProductBom" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" style="display: none;" data-backdrop="static" data-keyboard="false"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h4 class="modal-title text-white">บันทึกสินค้า BOM</h4>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">x</button>
                </div>
                <!-- BODY -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            @* <form method="get" id="frmSearch" action="/Bom/Index"> *@
                            <div class="col-12">
                                <div class="card-body">
                                    <div class="row">
                                        <div>
                                            <div class="text-right">
                                                สินค้า :
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="col-7">
                                                <label class="control-label text-left col-4"
                                                    id="Usingnameproduct1"></label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <button class="btn btn-info" type="button" data-toggle="modal"
                                                data-target="#SearchProductBom"> <i class="fa fa-search"></i>
                                                ค้นหา</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card-body">
                                    <div class="row">
                                        <div>
                                            <div>
                                                ShopOrder :
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <select id="InputShopOrder" name="" class="form-control"
                                                data-style="form-control btn-secondary">
                                                <option value="">2701221025</option>
                                            </select>
                                        </div>
                                        <div class="col-2">
                                            <div class="text-right">
                                                จำนวนที่นำมาผลิต :
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <input type="number" min="0" id="Inputamoung" name="documentID" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="card-body">
                                    <div class="row">
                                        <div>
                                            <div>
                                                ประเภท :
                                            </div>
                                        </div>
                                        <div class="col-5" id="inlineRadiooo">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio1" value="option1">
                                                <label class="form-check-label" for="inlineRadio1">ภายใน
                                                    บริษัท</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio2" value="option2">
                                                <label class="form-check-label" for="inlineRadio2">ภายนอก
                                                    บริษัท</label>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                บริษัท :
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <select id="CompanyType" name="CompanyType" class="form-control"
                                                data-style="form-control btn-secondary">
                                                <option value="">บริษัท จีเอฟพีที จำกัด (มหาชน)</option>
                                                <option value="">บริษัท จีเอฟฟูดส์ จำกัด (มหาชน)</option>
                                                <option value="">บริษัท แมคคีย์ ฟู้ด เซอร์วิสเซส</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <center>
                                <div>
                                    <button type="button" class="btn btn-info" onclick="SaveProductBom()">บันทึก</button>
                                    <button class="btn btn-danger" type="button" data-dismiss="modal">ปิด</button>
                                </div>
                            </center>

                            @* </form> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="SearchProductBom" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" style="display: none;" data-backdrop="static" data-keyboard="false"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h4 class="modal-title text-white">SearchProductBom</h4>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-hidden="true">x</button>
                </div>
                <!-- BODY -->
                <div class="card-body pt-1">
                    <div class="row">
                        <div class="col-12">
                            <form method="get" id="frmSearch" action="">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="text-right">
                                                รหัส/ชื่อสินค้า :
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <input type="text" id="documentID" name="documentID" class="form-control"
                                                id="EqType">
                                        </div>
                                        <div class="col-3">
                                            <button class="btn btn-info" type="button" data-toggle="modal"
                                                data-target="" onclick="SearchProductBom()"> <i
                                                    class="fa fa-search"></i>
                                                ค้นหา</button>
                                            <button class="btn btn-danger" type="button"
                                                data-dismiss="modal">ปิด</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table color-bordered-table info-bordered-table"
                                        id="tblSearchProductBom">
                                        <thead>
                                            <tr>
                                                <th class="col-1">#</th>
                                                <th class="col-1">เลือก</th>
                                                <th class="col-5">รหัส</th>
                                                <th class="col-4">ชื่อ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>#</td>
                                                <td>
                                                    <div>
                                                        <button class="btn btn-info" type="button" data-toggle="modal"
                                                            data-target="#">เลือก</button>
                                                    </div>
                                                </td>
                                                <td>005101000</td>
                                                <td>สินค้า A000</td>
                                            </tr>
                                            @* <tr>
                                                <td>#</td>
                                                <td>
                                                    <div>
                                                        <button class="btn btn-info" type="button" data-toggle="modal"
                                                            data-target="#">เลือก</button>
                                                    </div>
                                                </td>
                                                <td>005101001</td>
                                                <td>CHICKEN PAW (SP) ฝากเลี้ยงฯ</td>
                                            </tr>
                                            <tr>
                                                <td>#</td>
                                                <td>
                                                    <div>
                                                        <button class="btn btn-info" type="button" data-toggle="modal"
                                                            data-target="#">เลือก</button>
                                                    </div>
                                                </td>
                                                <td>005101002</td>
                                                <td>FROZEN CHICKEN PAW (BIG BOX)</td>
                                            </tr> *@
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

    $(document).ready(function () {
        $("input[type=radio][name=inlineRadioOptions]").change(function () {
            if (this.value == 'option1') {
                $('#CompanyType').prop('disabled', true);
            }
            else if (this.value == 'option2') {
                $('#CompanyType').prop('disabled', false);
            }
        });
    });

    // Edit คีย์รายละเอียดสินค้า Bom
    function Edit(nameProduct, TypeProduct, amount, note) {
        $("#CorrectTypeBom").modal('show');
        $("#Usingnameproduct").html(nameProduct);
        $("#UsingType").html(TypeProduct);
        $("#amoungUsing").val(amount);
        $("#noteUsing").val(note);
        /// $("#tbDetailUsing > tbody").empty();  
    }

    function SelectSearchProductBom(nameProduct, amount, type, company) {
        $("#popupSaveProductBom").modal('show');
        $("#SearchProductBom").modal('hide');
        $("#Usingnameproduct1").html(nameProduct);
        $("#amountUsing").val(amount);
        $("#typeUsing").val(type);
        $("#companyUsing").val(company);
        /// $("#tbDetailUsing > tbody").empty();  
    }

    function SearchProductBom() {
        var url = URL + '/Bom/SearchProductBom';
        var data = {
            'name': $("#EqType").val(),
        };
        $("#tblSearchProductBom > tbody").empty();
        $.ajax({
            type: "GET",
            url: url,
            data: data,
            dataType: "json",
            beforeSend: function () {
                ShowLoading();
            },
            success: function (data) {
                var newRow = '';

                $.each(data, function (index, element) {


                    newRow = '<tr>';
                    newRow += '<td class = "col-1">' + "#" + '</td>';
                    newRow += '<td class = "col-1"><input type = "button" onclick = "SelectSearchProductBom(\'' + element.nameProduct + '\')" class = "btn btn-info" value = "เลือก"></td>';
                    newRow += '<td>' + element.id + '</td>';
                    newRow += '<td>' + element.nameProduct + '</td>';
                    newRow += '</tr>';
                    $('#tblSearchProductBom > tbody').append(newRow);
                });
            },
            complete: function () {
                ShowLoading(false);
            },
            error: function (err) {
                ShowLoading(false);
            }
        });
    }

    function SaveProductBom() {

        var url = '/Bom/SaveProductBom';
        $.ajax({
            type: "POST",
            url: url,
            data: { type: $("#amoungUsing").val(), note: $("#noteUsing").val() },
            dataType: "json",
            beforeSend: function () { ShowLoading(); },
            success: function (res) {
                if (res.success == true) {
                    PopupMessage("บันทึกข้อมูลเรียบร้อย");
                    $("#popupSaveProductBom").modal('hide');
                }
            },
            complete: function () {
                ShowLoading(false);
            },
            error: function (ex) { }
        });

    }

    function SaveCorrectTypeBom() {
        var url = '/Bom/Save';
        $.ajax({
            type: "POST",
            url: url,
            data: { type: $("#amoungUsing").val(), note: $("#noteUsing").val() },
            dataType: "json",
            beforeSend: function () { ShowLoading(); },
            success: function (res) {
                if (res.success == true) {
                    PopupMessage("บันทึกข้อมูลเรียบร้อย");
                    $("#CorrectTypeBom").modal('hide');
                }
            },
            complete: function () {
                ShowLoading(false);
            },
            error: function (ex) { }
        });

    }

    function insertData() {
        var nameProduct = document.getElementById("").value;
        var ShopOrder = document.getElementById("").value;
        var amount = document.getElementById("").value;
        var type = document.getElementById("").value;
        var company = document.getElementById("").value;

        document.getElementById("insertdata").innerHTML += "<tr><td>" + nameProduct + "</td><td>" + ShopOrder + "</td><td>" + amount + "</td></tr>" + "</td><td>" + type + "</td><td>" + company;
      
        document.getElementById("Usingnameproduct1").value = "";
        document.getElementById("InputShopOrder").value = "";
        document.getElementById("Inputamoung").value = "";
        document.getElementById("inlineRadiooo").value = "";
        document.getElementById("CompanyType").value = "";
    }
</script>
